:root {
  --primary: #70c6a6;
  --heading: #353738;
  --text: #848789;
  --input-border: #d3d7d9;
  --input-text: #929292;
  --bg-light: #f7f7f7;
  --bg-dark: #1a1c28;
}

body {}

.wrapper {
  width: 100rem;
  margin: 0 auto;
}

header {
  min-height: 70rem;
  background-image: url("/images/header_bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
}

nav {
  margin-top: 1.875rem;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
}

.nav__item:first-child:after,
.nav__item:nth-child(4):after {
  content: ".";
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
}

.nav__logo {
  width: 18.75rem;
  height: 6.25rem;
}

.nav__link {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: var(--heading);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

.feature__header {
  padding: 10rem 1.5rem 12rem;
  background-color: var(--bg-light);
}

.feature__img {
  display: block;
  margin: 0 auto 2rem;
  width: 3.25rem;
  height: 2.5rem;
}

.feature__heading {
  font-size: 1.8rem;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--heading);
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}

.feature__header--desc {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--text);
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}

.feature__item {
  display: flex;
  flex-flow: row wrap;
  height: 60rem;
  overflow: hidden;
}

.feature__item-img {
  width: 67%;
  position: relative;
}

.feature__item-content {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature__list {
  margin-left: -40px;
}

.feature__item-content-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  position: relative;
  background-color: white;
  height: 50%;
}

.feature__item-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text);
  text-align: justify;
  position: relative;
  padding-bottom: 1rem;
}

.feature__item-content-bottom {
  height: 50%;
}

.feature__item:nth-child(2) .feature__item-img {
  order: 2;
}

.feature__item:last-child > .feature__item-img {
  width: 33%;
}

.feature__item:last-child > .feature__item-content {
  width: 34%;
}

.feature__item-content-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2rem;
  height: 2rem;
  background-color: white;
  z-index: 10;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.feature__item-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 2px;
  background-color: var(--bg-dark);
}

.tweet {
  padding: 7rem;
  background-color: var(--bg-light);
  text-align: center;
}

.tweet__heading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.tweet__author {
  color: var(--heading);
  font-weight: bold;
}

.tweet__time {
  color: var(--text);
  font-weight: 300;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
}

.tweet__time:before {
  content: "/";
  position: absolute;
  left: 0;
  top: 0;
}

.tweet__content{
  font-size: 2.4rem;
  line-height: 1.4;
  color: var(--text);
  font-style: italic;
  max-width: 100rem;
  margin: 0 auto 5rem;
}

.tweet__pagi {
  text-align: center;
}

.tweet__pagi-item {
  height: 1rem;
  width: 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1rem;
}

.is-active, .tweet__pagi-item:hover {
  background-color: black;
}

.images {
  display: flex;
  justify-content: space-between;
  height: 53.5rem;
  overflow: hidden;
}

.images__block {
  display: flex;
  width: 33.333%;
  height: 100%;
}

.images__block:first-child {
  flex-direction: column;
}

.images__block:last-child {
  flex-direction: column-reverse;
}

.images__block-item {
  height: 50%;
  width: 100%;
}

.images__block-item:first-of-type {
  display: flex;
}

.images__block-item:last-of-type .images__item{
  width: 100%;
}

.images__item {
  width: 50%;
  height: 100%;
}

.item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
